.add_button{
    width:200px;
    text-align: center;
}
.addSubject input{
    width: 200px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 3px;
    text-align: center;
}

.addSubject button{
    border: none;
    background-color: cornflowerblue;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    align-self: flex-end;
    margin-top: 10px;
}

.addSubject button:hover{
	background-color: gray;
}