.navbar{
    display: flex;
    height: 60px;
    justify-content: center;
    background-color: white;
    width: 100%;
}

.navbar_logo{
    height: 100%;
}

.navbar_header{
    margin-left:10px;
    font-size: 30px;
    font-weight: 700;
}

.navbar_login{
    margin-left: auto;
    margin-right: 15px;
}
.navbar_logout{
    margin-left: auto;
    margin-right: 15px;
    position: relative;
    color:black;
    text-decoration: none;
    display: flex;
    align-items: center;
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
}
.navbar_logout::after{
    display: block;
	position: absolute;
    margin-top: 12px;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 3px; /*задаём ширину линии*/
	background-color: cornflowerblue; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}
.navbar_logout:hover::after{
    width: 100%;
}


.container{
    width: 1140px;
    display: flex;
    align-items: center;
}